{% if section.settings.menu_icon_style == 'word' %}
<span class="menu-button-word">{{ 'sections.header.menu' | t }}</span>
{% else %}
<div class="menu-line"></div>
<div class="menu-line"></div>
<div class="menu-line"></div>
{% endif %}
