<div class="play-button">
<svg focusable="false" class="icon icon-media-play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
<path fill="currentColor" d="M3,22V2l18,10L3,22z"/>
</svg>  
</div>