{% if flag == 'arabic' %}
<div class="country-flag-wrapper">
  <svg class="icon-country-flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 36 26" style="enable-background:new 0 0 36 26;" xml:space="preserve">
  <style type="text/css">
  	.ar-st0{fill:#007B3D;}
  	.ar-st1{fill:#FFFFFF;}
  </style>
  <rect class="ar-st0" width="36" height="26"/>
  <g>
  	<polygon class="ar-st1" points="22.56247,6.1507 21.40902,5.23591 20.61355,6.46888 21.7073,7.40357 	"/>
  	<path class="ar-st1" d="M27.21597,10.12812c0.09943-0.55688-0.75568-1.19324-0.75568-1.19324
  		c-1.09381-0.81537-2.14777-0.21875-2.14777-0.21875c-2.60522,1.05402-4.59387,4.47455-4.59387,4.47455
  		c-1.19324,0.05963-1.90918-0.19067-1.90918-0.19067c-0.23859-0.68787-0.63635-1.24121-0.63635-1.24121l-0.67615,1.41199
  		c1.75006,2.68475,0.25854,4.75293,0.25854,4.75293s-1.88928,1.94891-5.40924,1.09381
  		c-3.51996-0.85516-1.05402-4.55408-1.05402-4.55408l-0.2287-0.09943c-0.65625,0.91479-1.01422,1.96875-1.01422,1.96875
  		c-0.62646,1.81964,0.11932,2.88361,0.11932,2.88361s0.6264,1.60089,3.29126,1.50146s3.341-0.86505,3.341-0.86505
  		s0.60657-0.37787,1.37219-1.69043c0.76562-1.3125,0.8269-3.65314,0.8269-3.65314c0.38312,0.16467,1.1142,0.14471,1.1142,0.14471
  		L19.08224,14.891l-0.1889,0.90485c-0.13922,0.38782,0.12927,0.54688,0.12927,0.54688l0.08948-0.0199
  		c0.09943-0.67615,0.52698-1.66052,0.52698-1.66052c5.07117-0.19885,6.10529-1.57104,6.10529-1.57104
  		C27.33529,11.71906,27.21597,10.12812,27.21597,10.12812z M20.42196,13.16657c0.2558-0.45166,0.97711-1.10944,0.97711-1.10944
  		s2.12793-2.12793,3.24158-1.98871s1.75006,1.15344,1.75006,1.15344C23.92471,13.30006,20.42196,13.16657,20.42196,13.16657z"/>
  </g>
  </svg>
</div>
{% else %}
<div class="country-flag-wrapper">
<img width="24" height="16" class="icon-country-flag" src="//cdn.shopify.com/static/images/flags/{{ flag | downcase }}.svg" alt="{{ flag }}" loading="lazy">
</div>
{% endif %}