{% if style == 1 or style == blank %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-lifestyle-placeholder-07-800x.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 2 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-lifestyle-placeholder-01-800x.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 3 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-lifestyle-placeholder-05-800x.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 4 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-16.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 5 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-17.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 6 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-23.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 7 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-banner-01.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 8 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-lifestyle-placeholder-10.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 9 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-lifestyle-placeholder-09.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 10 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-lifestyle-placeholder-03-800x.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 11 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-banner-collage-01.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if style == 12 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-lifestyle" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-banner-collage-video.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}