{% if sequence_number == 1 or sequence_number == 5 or sequence_number == 9 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-collection" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-16.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if sequence_number == 2 or sequence_number == 6 or sequence_number == 10 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-collection" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-26.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if sequence_number == 3 or sequence_number == 7 or sequence_number == 11 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-collection" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-12-800x.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if sequence_number == 4 or sequence_number == 8 or sequence_number == 12 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-collection" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-11-800x.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}

{% if sequence_number == 13 or sequence_number > 13 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-collection" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-29.png" width="400" height="400" alt="Luxe Shopify theme lifestyle image placeholder">
</div>
{% endif %}