{% if sequence_number == 0 or sequence_number == blank %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-06-800x.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>
{% endif %}

{% if sequence_number == 1 or sequence_number == 9 or sequence_number == 17 or sequence_number == 25 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-21.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>
{% endif %}

{% if sequence_number == 2 or sequence_number == 10  or sequence_number == 18 or sequence_number == 26 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-10-800x.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>  
{% endif %}

{% if sequence_number == 3 or sequence_number == 11 or sequence_number == 19 or sequence_number == 27 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-30.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>  
{% endif %}

{% if sequence_number == 4 or sequence_number == 12 or sequence_number == 20 or sequence_number == 28 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-18.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>  
{% endif %}

{% if sequence_number == 5 or sequence_number == 13 or sequence_number == 21 or sequence_number == 29 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-24.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>  
{% endif %}

{% if sequence_number == 6 or sequence_number == 14 or sequence_number == 22 or sequence_number == 30 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-03-800x.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>  
{% endif %}

{% if sequence_number == 7 or sequence_number == 15 or sequence_number == 23 or sequence_number == 31 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-28.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>  
{% endif %}

{% if sequence_number == 8 or sequence_number == 16 or sequence_number == 24 or sequence_number == 32 or sequence_number > 32 %}
<div class="luxe-product-placeholder-wrapper">
<img class="luxe-product-placeholder luxe-pp-02" src="https://cdn.shopify.com/s/files/1/0700/0614/5254/files/luxe-product-placeholder-22.png" width="400" height="400" alt="Luxe Shopify theme product image placeholder">
</div>  
{% endif %}
