<div class="slider-custom-scrollbar-track-wrapper">
<div class="slider-custom-scrollbar-track cs-track-width-{{ settings.carousel_scrollbar_width }} cs-track-mobile-{{ settings.carousel_scrollbar_mobile }} cs-track-desktop-{{ settings.carousel_scrollbar_desktop }}">
  <div class="slider-custom-scrollbar-marker"></div>
</div>
</div>