.article-card {
  position: relative;
  text-align: var(--blog-card-text-alignment);
}

.article-card--image {
  margin-bottom: 1.5rem;
}

.article-card--image img {
  width: 100%;
  height: auto;
  border-radius: var(--blog-card-corner-radius);
  transition: 0.2s linear;
}

.article-card--title {
  text-decoration: none;
  word-break: break-word;
}

.article-card--title .divider-bullet {
  opacity: 0.7;
  font-size: 1rem;
}

.article-card a {
  text-decoration: none;
}

.article-card--excerpt {
  margin: 0;
  padding-top: 15px;
}

.article-card--tags {
  padding-top: 15px;
  display: flex;
  gap: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bc-align--center .article-card--tags {
  justify-content: center;
}

.article-card-tag {
  display: inline-block;
  border: var(--tag-border-width) solid rgba(var(--color-foreground-rgb),var(--tag-border-opacity));
  box-sizing: border-box;
  padding: 5px 8px 6px 8px;
  border-radius: var(--tag-corner-radius);
  font-size: var(--font-ui-size-mobile);
  line-height: 1.0;
  background: var(--tag-bg-color);
  opacity: 0.7;
}

.color-scheme-fg-01 .article-card-tag {
  border: var(--tag-border-width) solid rgba(var(--color-accent-one-rgb),var(--tag-border-opacity));
}

.color-scheme-fg-02 .article-card-tag {
  border: var(--tag-border-width) solid rgba(var(--color-accent-two-rgb),var(--tag-border-opacity));
}

.color-scheme-fg-03 .article-card-tag {
  border: var(--tag-border-width) solid rgba(var(--color-accent-three-rgb),var(--tag-border-opacity));
}

.color-scheme-fg-04 .article-card-tag {
  border: var(--tag-border-width) solid rgba(var(--color-accent-four-rgb),var(--tag-border-opacity));
}

.color-scheme-fg-05 .article-card-tag {
  border: var(--tag-border-width) solid rgba(var(--color-accent-five-rgb),var(--tag-border-opacity));
}

@media only screen and (min-width: 1025px) {
  .article-card-tag {
    font-size: var(--font-ui-size-desktop); 
    padding: 5px 9px 6px 9px; 
  }
}

.article-card--data {
  opacity: 0.7;
}

.article-card--data-spacer {
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.7;
}

.article-card-image-ratio-square {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.article-card-image-ratio-portrait {
  position: relative;
  height: 0;
  padding-bottom: 125%;
}

.article-card-image-ratio-portrait-4x6 {
  position: relative;
  height: 0;
  padding-bottom: 150%;
}

.article-card-image-ratio-landscape {
  position: relative;
  height: 0;
  padding-bottom: 66%;
}

.article-card-image-ratio-landscape-16x9 {
  position: relative;
  height: 0;
  padding-bottom: 56%;
}

.article-card-image-ratio-fit img {
  width: 100%;
  height: auto;
}

.article-card-image-ratio-square img, .article-card-image-ratio-portrait img, .article-card-image-ratio-portrait-4x6 img, .article-card-image-ratio-landscape img, .article-card-image-ratio-landscape-16x9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.article-card h2, .article-card h3 {
  margin-bottom: 5px;
}

.article-card a:focus-visible .article-card--title {
  outline: 2px solid rgba(var(--color-foreground-rgb),1);
}

.article-card-placeholder-image {
  background: rgba(var(--color-foreground-rgb),0.12);
  text-align: center;
  display: flex;
  align-items: center;
}

.article-card-placeholder-image .card-name {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-card-placeholder-image .card-name img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.article-card-no-images {
  height: 100%;
  border: 1px solid rgba(var(--color-foreground-rgb),0.15);
  border-radius: var(--blog-card-corner-radius);
  display: flex;
}

.article-card-no-images a {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
