.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image-container {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
}

.cart-item__image-container:after {
  content: none;
}

.cart-item__image {
  width: 100%;
  height: auto;
}

.cart-item__image-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 125%;
  background: var(--product-card-media-bg-col);
  border-radius: var(--product-card-image-radius-small);
}

.cart-item__image-wrapper.cart-item-image-ratio-portrait-4x6 {
  padding-bottom: 150%;
}

.cart-item__image-wrapper.cart-item-image-ratio-square {
  padding-bottom: 100%;
}

.cart-item__image-wrapper.cart-item-image-ratio-landscape {
  padding-bottom: 66%;
}

.cart-item__image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--product-card-image-radius-small);
}

.cart-item__image-wrapper.cart-item-image-ratio-fit {
  height: auto;
  padding-bottom: 0;
}

.cart-item__image-wrapper.cart-item-image-ratio-fit img {
  position: relative;
  height: auto;
}

@media screen and (min-width: 750px) {
  .cart-item__image {
    max-width: 100%;
  }
}

.cart-item__details {
  position: relative;
}

.cart-item__details > * {
  margin: 0;
  max-width: 60rem;
}

.cart-item__details > * + * {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 750px) {
  .cart-item__details > * + * {
    margin-top: 1rem;
  }  
}

.cart-item__details .cart-item-dynamic-link {
  position: absolute;
  height: 40px;
  width: 100%;
}

.cart-item__media {
  position: relative;
}

.cart-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item__name {
  text-decoration: none;
  display: block;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__totals .cart-item__discounted-prices .cart-item__old-price {
  visibility: hidden;
}

.cart-item__old-price {
  opacity: 0.65;
  text-decoration-thickness: 1px;
}

.cart-item__final-price {
  color: rgb(var(--color-price-sale));
  font-weight: inherit;
  margin-left: 0.5rem;
}

.product-option {
  word-break: break-all;
  line-height: 1.2;
}

.product-option-price {
  margin-bottom: 1.2rem;
}

.cart-item__details:has(.unit-price) .product-option-price {
  margin-bottom: 0;
}

.cart-item__details .unit-price {
  padding-bottom: 0.5rem;
}

.drawer__cart-items-wrapper .h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.cart-item__product-title {
  text-decoration: none;
}

.cart-item__product-title.h4 {
  font-size: inherit;
}

.cart-item cart-remove-button {
  margin-left: 0;
}

cart-remove-button .button {
  min-width: 5rem;
  padding: 0;
  margin: 0;
  border-radius: 0 !important;
  min-height: 2rem;
  cursor: pointer;
}

cart-remove-button .button:focus {
  outline: none;
}

cart-remove-button .button:focus-visible {
  outline: 2px solid;
}

cart-remove-button .button:before,
cart-remove-button .button:after  {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: var(--color-foreground);
}

cart-remove-button .icon-remove {
  height: 0.8rem;
  width: 0.8rem;
}

.cart-item .loading-overlay {
  top: 0;
  left: auto;
  right: auto;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    right: 0;
    padding-top: 3rem;
    bottom: auto;
  }
}

.cart-item .loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5rem;
  padding: 0.8rem;
  background: #eff6fc;
  border: 1px solid #d8e2eb;
  color: #223345;
  border-radius: 4px;
  width: fit-content;
}

.cart-item__error-text {
  font-size: calc(var(--font-body-base-size-mobile) - 2px);
  line-height: 1.25;
  order: 1;
}

.cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.1rem;
  margin-right: 0.8rem;
}

.cart-item__error:has(.cart-item__error-text:empty) {
  padding: 0;
  border: 0;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-item__compare_at_price {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  margin-right: 0.5rem;
  opacity: 0.65;
}

.cart-items thead th {
  text-transform: uppercase;
}
.cart-item__quantity-wrapper {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.cart-item-quantity-hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

.cart-item__details .quantity.qty-selector-border-style--outer .quantity__input {
  width: 3.6rem;
  min-width: 3.6rem;
}

.cart-item__details .quantity.qty-selector-border-style--all .quantity__input {
  min-width: 44px;
}

.drawer__cart-items-wrapper .cart-item__details .quantity.qty-selector-border-style--all .quantity__input {
  min-width: 40px;
}

.is-empty .main-cart-footer-note-wrapper {
  display: none;
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground-rgb), 0.2);
    margin-bottom: 4rem;
  }

  .cart-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(var(--color-foreground-rgb),0.15);
  }

  .cart-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .cart-item__details {
    grid-column: 2 / 4;
  }

  .cart-item__quantity {
    grid-column: 2 / 5;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}


@media screen and (min-width: 750px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .cart-items th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground-rgb), 0.08);
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items th + th {
    padding-left: 3rem;
  }
  .cart-items td {
    vertical-align: top;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
  }
  .cart-item {
    display: table-row;
    border-bottom: 1px solid rgba(var(--color-foreground-rgb),0.2);
  }
  .cart-items .cart-item:last-child {
    border-bottom: 0;
  }
  .cart-item__media {
    padding-top: 0rem;
    padding-bottom: 0rem;    
  }
  .drawer__cart-items-wrapper .cart-item {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .drawer__cart-items-wrapper .cart-items td {
    padding-bottom: 0;
  }
  .cart-item > td + td {
    padding-left: 3rem;
  }
  .body-rtl .cart-items td + td {
    padding-right: 3rem;
    padding-left: 0;
  }
  .cart-item__details {
    width: 35rem;
  }
  .cart-item__media {
    width: 12rem;
  }
  .drawer__cart-items-wrapper .cart-item__media {
    width: 100%;
  }
  .cart-item__error-text {
    font-size: calc(var(--font-body-base-size-tablet) - 2px);
  }
}

@media screen and (min-width: 990px) {
  .cart-item__error-text {
    font-size: calc(var(--font-body-base-size-desktop) - 2px);
  }
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 4rem;
  }

  .cart-item__details {
    width: 50rem;
  }

  .cart-items thead th:first-child {
    width: 60%;
  }
}
