.list-payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem 0;
  padding-top: 1rem;
  padding-left: 0;
}

@media screen and (min-width: 750px) {
  .list-payment {
    justify-content: flex-end;
    margin: -0.5rem;
    padding-top: 0;
  }
}

.list-payment__item {
  width: 34px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
}

.list-payment__item .icon {
  width: 28px;
  height: 18px;
}

.cart-drawer .list-payment__item {
  width: 27px;
  height: 16px;
}

.cart-drawer .list-payment__item .icon {
  width: 22px;
  height: 14px;
}