.password-page-container {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  line-height: 0;
}

.password-page-container.allow-overflow {
  position: relative;
}

body:has(.shopify-section:nth-child(2)) .password-page-container {
  position: relative;
  min-height: 100svh;
}

.password-page-content {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 550px;
  line-height: var(--base-line-height);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 750px) {
  .position-middle.pwlp--bottom .password-page-content {
    padding-bottom: 6rem;
  }
}

body:has(.shopify-section:nth-child(2)) .password-page-content {
  min-height: 100svh;
}

@media only screen and (min-width: 750px) {
  body:has(.shopify-section:nth-child(2)) .password-page-container {
    min-height: 100vh;
  }
  body:has(.shopify-section:nth-child(2)) .password-page-content {
    min-height: 100vh;
  }
}

.password-page-container.position-top {
  align-items: flex-start;
}

.password-page-container.position-bottom {
  align-items: flex-end;
}

.password-page-container.position-top .password-page-content {
  justify-content: flex-start;
}

.password-page-container.position-bottom .password-page-content {
  justify-content: flex-end;
}

.align-left .password-page-content {
  margin-left: 0;
}

.position-top .password-page-content {
  padding-top: 2rem;  
}

.position-bottom .password-page-content {
  padding-bottom: 2rem;  
}

.password-page-logo {
  margin: 0;
  width: 100%;
  margin-bottom: 3rem;
}

.password-page-shop-name {
  width: 100%;
}

.password-page-image-header {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
}

.password-page-image-header.ratio--landscape-16x9 {
  padding-bottom: 56%;
}

.password-page-image-header.ratio--square {
  padding-bottom: 100%;
}

.password-page-image-header.ratio--portrait {
  padding-bottom: 125%;
}

.password-page-image-header.ratio--portrait-4x6 {
  padding-bottom: 150%;
}

.password-page-image-header img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: var(--media-radius);
}

.password-page-login-link {
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  padding: 1rem 0;
  font-size: var(--buttons-font-size-mobile);
  letter-spacing: var(--buttons-letter-spacing);
  text-transform: var(--buttons-text-case);
  text-underline-offset: 3px;
}

.password-form-footer a {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

@media only screen and (min-width: 1025px) {
  .password-page-login-link {
    font-size: var(--buttons-font-size-desktop);
  }  
}

.password-page-message {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 0;
}

.password-link-wrapper {
  margin: 0 auto;
  width: 100%;
  padding-top: 2rem;
}

.align-left .password-link-wrapper {
  margin: 0;
}

.pwlp--top .password-link-wrapper {
  position: absolute;
  top: 1rem;
  right: 0;
  text-align: right;
  z-index: 4;
  padding-top: 1rem;
  padding-left: var(--page-margin-mobile);
  padding-right: var(--page-margin-mobile);  
}

.pwlp--bottom .password-link-wrapper {
  position: absolute;
  bottom: 3rem;
  left: 0;
  z-index: 2;
  padding-left: var(--page-margin-mobile);
  padding-right: var(--page-margin-mobile);
}

.password-link-wrapper-bottom.align-left {
  left: var(--page-margin-mobile);
  transform: none;
}

.position-bottom.pwlp--bottom .password-link-wrapper {
  position: relative;
  bottom: auto;
  padding-left: 0;
  padding-right: 0;
}

.password-page-login-link.button {
  color: inherit !important;
  background: none !important;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  width: fit-content;
  min-width: 10rem !important;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #000000;
}

.caption .link {
  font-size: inherit;
}

.password-page-social-media {
  color: inherit;
}

.password-page-social-media:has(.icon) {
  padding-top: 2.5rem;
}

.password-page-social-media ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px;
}

.password-page-social-media a, .password-page-social-media .icon {
  color: inherit;
}

.password-page-social-media a {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.password-page-social-media .icon {
  width: 1.4rem;
  height: 1.4rem;
}

.align-left .password-page-social-media ul, .align-left .password-page-social-media a {
  justify-content: flex-start;
}

.align-center .password-page-logo {
  margin: 0 auto;
  margin-bottom: 3rem;
}

.align-center {
  margin: 0 auto;
  text-align: center;
}

.password-page-logo img {
  width: 100%;
  height: auto;
}

.password-page-image-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.password-page-image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  z-index: 1;
}

.modal-background {
  display: block !important;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.modal-background.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0ms, opacity 300ms;
}

.password-page-modal {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0 0 4rem 0;
  z-index: 5;
  background: var(--popup-background-color);
  color: var(--color-foreground);
  visibility: hidden;
  transition: visibility 0s linear 300ms, opacity 300ms;
  line-height: var(--base-line-height);
  border-radius: var(--popup-corner-radius) var(--popup-corner-radius) 0 0;
  transition: 0.2s linear;
  transform: translateY(100%);
}

.password-page-modal.open {
  visibility: visible;
  transition: 0.2s linear;
  transform: translateY(0%);
}

@media only screen and (min-width: 750px) {
  .password-page-modal {
    bottom: auto;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    max-height: 40rem;
    max-width: 40rem;
    border-radius: var(--popup-corner-radius);
  }
  .password-page-modal.open {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0ms, opacity 300ms;
    transform: translate(-50%,-50%);
  }
}

.storefront-password-form {
  padding: 0 1.5rem 2rem 1.5rem; 
}

.password label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

.password-page-modal input, 
.password-page-content input {
  width: 100%;
}

.password-page-container .errors {
  color: red;
  padding-bottom: 1.5rem;
}

.password-page-container .errors .icon {
  color: inherit;
  margin-right: 0.8rem;
}

.password-modal-close-button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 0;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
}

.password-modal-close-button .icon {
  width: 10px;
  height: 10px;
}

.password-page-modal input {
  outline: none;
  border: 0;
  appearance: none;
  -webkit-apperance: none;
  padding: 1.3rem 1.2rem;
  height: auto;
  min-height: 44px;
  border: 1px solid rgba(0,0,0,0.3);
  background: none;
  margin-bottom: 1.5rem;
  box-shadow: none !important;
  font-size: 16px;
  border-radius: var(--inputs-radius);
}

.password-page-modal input[type=submit] {
  color: rgba(var(--color-button-foreground),1);
  background: rgba(var(--color-button-background),1);
  border: 0;
  border-radius: var(--buttons-radius);
  text-transform: var(--buttons-text-case);
  letter-spacing: var(--buttons-letter-spacing);
  font-family: var(--font-accent-family);
  font-weight: var(--font-accent-weight);
  font-style: var(--font-accent-style);
  font-size: var(--buttons-font-size-mobile);
  height: calc(44px + var(--buttons-padding));
  line-height: 1.0;
  margin-bottom: 0;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  .password-page-modal input[type=submit] {
    font-size: var(--buttons-font-size-desktop);
  }
}

.password-page-modal ul {
  text-align: left;
  padding: 0;
  margin: 0 1.5rem;
}

.password-page-modal li {
  padding: 5px;
  margin-left: 0;
}

.password-form-footer {
  color: inherit;
  opacity: 0.7;
}

@media only screen and (min-width: 750px) {
  .password-page-content {
    padding-top: 3rem; 
    padding-bottom: 3rem; 
  }
  .position-middle.pwlp--bottom .password-page-content {
    padding-bottom: 6rem;
  }
  .password-modal-header {
     padding: 1rem 1rem 0 1rem; 
  }
  .storefront-password-form {
    padding: 1rem 3rem 2rem 3rem; 
  }
}

@media only screen and (min-width: 1025px) {
  .pwlp--bottom .password-link-wrapper {
    padding-left: var(--page-margin-desktop);
    padding-right: var(--page-margin-desktop);
  }
  .pwlp--top .password-link-wrapper {
    padding-top: 1rem;
    right: 2rem;
  }
  .password-page-content {
    padding-top: 4rem; 
    padding-bottom: 4rem; 
  }
  .position-middle.pwlp--bottom .password-page-content {
    padding-bottom: 7rem;
  }
}

.position-top.pwlp--top .password-page-content {
  padding-top: 90px;
}

.position-top.pwlp--bottom.allow-overflow .password-link-wrapper, 
.position-bottom.pwlp--bottom.allow-overflow .password-link-wrapper, 
.position-middle.pwlp--bottom.allow-overflow .password-link-wrapper {
  position: relative;
  bottom: auto;
  padding-left: 0;
  padding-right: 0;
}

.password-page-newsletter {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.newsletter-heading-label {
  width: 100%;
}

.password-page-newsletter .field__label {
  display: none;
}

.newsletter-fields {
  margin-top: 1rem;
}

.password-page-newsletter .form__message {
  width: 100%;
  justify-content: center !important;
}

.align-left .password-page-newsletter .form__message {
  width: 100%;
  justify-content: flex-start !important;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter-form__message--success {
  margin-top: 1rem;
}

.password-page-newsletter .field {
  background: none;
  color: inherit;
}

.password-page-newsletter.fields-style-outline .field {
  color: inherit;
  background: none;
  border: 1px solid;
}

.newsletter-form__button .icon {
  color: inherit !important;
}

.fields-style-default .field {
  background: var(--color-background);
}

.fields-style-default .field input {
  color: inherit;
  color: var(--color-foreground);
  border: 0;
}

.color-scheme-fg-01 .password-page-newsletter.fields-style-outline .field {
  border: 1px solid var(--color-accent-one) !important;
}

.color-scheme-fg-02 .password-page-newsletter.fields-style-outline .field {
  border: 1px solid var(--color-accent-two) !important;
}

.color-scheme-fg-03 .password-page-newsletter.fields-style-outline .field {
  border: 1px solid var(--color-accent-three) !important;
}

.color-scheme-fg-04 .password-page-newsletter.fields-style-outline .field {
  border: 1px solid var(--color-accent-four) !important;
}

.color-scheme-fg-05 .password-page-newsletter.fields-style-outline .field {
  border: 1px solid var(--color-accent-five) !important;
}

.password-page-newsletter .field__button {
  min-height: 44px;
}

.fields-style-default .field__button {
  color: rgba(var(--color-foreground-rgb),1);
}

.password-page-newsletter .field input {
  border: 0;
  font-size: 16px;
}

.fields-style-outline .field input, .fields-style-minimal .field input {
  color: inherit;
}

.fields-style-minimal .field input {
  border: 0;
  padding: 0;
}

.fields-style-minimal .field {
  background: none;
  border: 0;
  border-bottom: 1px solid;
  color: inherit;
}

.fields-style-minimal .field__input, .fields-style-minimal .field__input::placeholder {
  color: inherit;
}

.fields-style-outline .field__button, .fields-style-minimal .field__button {
  color: inherit !important;
}

.fields-style-minimal .field__button {
  justify-content: flex-end;
}

.password-page-newsletter .field__input:focus-visible {
  outline: 2px transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  box-shadow: none;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
  color: inherit;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}